In [1]:
import numpy as np
import math
from numpy import array
from numpy import array, dot, round
from numpy.linalg import inv, norm
import numpy as np
from numpy import array, dot, round, cross, ceil
from numpy.linalg import inv, det, norm
from numpy import cross, dot, ceil
from numpy.linalg import norm, inv
from numpy import cos, sin, sqrt
from numpy.linalg import matrix_power
import pandas as pd

In [4]:
df = pd.read_csv("bcc_hkl_angle.csv", index_col = 0)

In [42]:
df["hkl_vector"] = df["hkl"].apply(hkl_to_vector)

In [23]:
test = [index.replace("<","").replace(">","") for index in df.loc[:,"hkl"].tolist()]

In [41]:
def hkl_to_vector(hkl):
    return np.array(hkl.replace("<","").replace(">","").split(),dtype = int)

In [29]:
np.array(test[0].split(),dtype = int)

numpy.int32

In [35]:
sorted(abs(hkl_to_vector(test[101])),reverse=True)

[19, 14, 5]

In [43]:
df

             hkl      angle     hkl_vector
0        <0 1 2>  53.130102      [0, 1, 2]
1        <0 3 1>  36.869898      [0, 3, 1]
2        <0 2 3>  67.380135      [0, 2, 3]
3       <0 -1 5>  22.619865     [0, -1, 5]
4        <0 4 1>  28.072487      [0, 4, 1]
..           ...        ...            ...
97    <8 11 -19>  49.582562   [8, 11, -19]
98     <6 -1 -5>  17.896551    [6, -1, -5]
99     <7 4 -11>  42.103449    [7, 4, -11]
100    <8 3 -11>  30.590689    [8, 3, -11]
101  <19 -5 -14>  29.409311  [19, -5, -14]

[102 rows x 3 columns]